@use '../../styles/placeholders.scss';

.AppHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-dark);
  color: var(--color-light);

  &__title {
    margin: 0;
  }
  &__wrapper {
    @extend %wrapper;
    display: flex;
    justify-content: space-between;
    padding: 0 0.625rem;
  }
  &__logo-link {
    text-decoration: none;
    color: var(--color-light);
  }
}

.nav {
  display: flex;
  &__link {
    color: var(--color-light);
    padding: 0.625rem;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    &:hover {
      border-bottom: 4px solid var(--color-primary--accent);
    }
    &--active {
      border-bottom: 4px solid var(--color-primary--accent);
    }
  }
}
