*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(52, 78, 65);
  --color-primary--accent: rgb(0, 111, 50);
  --color-secondary: rgb(69, 123, 157);
  --color-dark: rgb(0, 0, 0);
  --color-light: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
