@use '../../styles/mixins.scss';

.HomePage {
}

.overlay {
  @include mixins.flex(column, center, center, inline-flex);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.36);
  background: rgba(0, 0, 0, 0.36);
  border-radius: 4px;
  padding: 0.625rem;
  &__title {
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: var(--color-light);
    margin: 0;
    padding: 0.625rem;
  }
  opacity: 0;
  animation: slide 0.5s 0.5s ease-in-out forwards;
}

.section {
  position: relative;
  z-index: 20;
  padding: 1.25rem;
  margin: 0 1.25rem 1.25rem;
  @include mixins.flex(column);
}

.grid {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 16.75rem;
}

.Link {
  @include mixins.btn();
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  &__img {
    width: 100%;
    height: 200px;
    max-width: 100%;
    width: 768px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    opacity: 0.9;
    transition: opacity 0.25s 1s;
    &:hover {
      opacity: 1;
    }
  }
  &--inverse {
    background: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    &:hover {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
