@use '../../styles/mixins.scss';

$border-style: 1px solid #cbcbcb;
$background-light: #f8f8f8;
$background-white: #fff;
$box-shadow-light: 3px 3px 3px rgba(0, 0, 0, 0.05);
$box-shadow-dark: 3px 4px 6px rgba(0, 0, 0, 0.25);
$padding-size: 0.7rem 1.1rem;
$margin-size: 0.25rem;
$transition-duration: 0.25s;

.ContactPage {
  background: linear-gradient(rgba(255, 255, 255, 1), 90%, rgb(197, 197, 197));
  width: 100%;
  @include mixins.flex(row, center, center);
  flex-direction: column;
}

.connect-list {
  @include mixins.flex(column);
  &__item {
    border: $border-style;
    background: $background-light;
    border-radius: 3px;
    transition: $transition-duration;
    margin: $margin-size;
    box-shadow: $box-shadow-light;
    display: inline-flex;
    &:hover {
      background: $background-white;
      box-shadow: $box-shadow-dark;
    }
  }
  &__link {
    padding: $padding-size;
    text-decoration: none;
    background: var(--color-light);
    color: var(--color-secondary);
  }
}

.contact-form {
  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__input,
  &__textarea {
    border: $border-style;
    background: $background-light;
    border-radius: 3px;
    transition: $transition-duration;
    margin: $margin-size;
    box-shadow: $box-shadow-light;
    display: inline-flex;
    padding: $padding-size;
    background: var(--color-light);
    color: var(--color-secondary);
  }
  &__btn {
    border: $border-style;
    border-radius: 3px;
    transition: $transition-duration;
    margin: $margin-size;
    box-shadow: $box-shadow-light;
    display: flex;
    padding: $padding-size;
    background: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;
  }
}
